@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-font-color: white;
    --secondary-font-color: black;
    --tertiary-font-color: #00abf0;
    --primary-bg-color: black;
    --secondary-bg-color: white;
    --tertiary-bg-color: #00abf0;
}

*.dark-theme {
    --primary-font-color: black;
    --secondary-font-color: black;
    --primary-bg-color: white;
    --secondary-bg-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    display: flex;
}

header, nav{
    display: flex;
    flex-direction: column;
}

header{
    position: fixed;
    border-right: 1px solid var(--primary-font-color) ;
    padding: 5px;
    width: 70px;
    height: 100vh;
    text-align: center;
    justify-content: space-between;
}

.logo{
    margin-top: 10px;
    width: 40px;
}

.nav-links{
    display: flex;
    justify-content: center;
}

.nav-links a{
    text-decoration: none;
    color: var(--primary-font-color);
    margin: 0px 5px;
    padding: 10px;
    border-radius: 10px;
}

.nav-links a i{
    font-size: 23px;
}

.nav-links a:hover{
    color: var(--tertiary-font-color);
}

.nav-links a.active{
    color: var(--secondry-bg-color);
    background-color: var(--tertiary-font-color);
}

.social-links{
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.social-links a{
    text-decoration: none;
    color: var(--primary-font-color);
    margin: 10px 5px;
}

.social-links a:hover{
    color: var(--tertiary-font-color);
}

.social-links a i{
    font-size: 30px;
}

.theme-notifier{
    margin-bottom: 10px;
}

.theme-notifier i{
    font-size: 23px;
    cursor: pointer;
}

.theme-notifier i:hover{
    color: var(--tertiary-font-color);
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 0px 80px;
}

section{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    min-height: 100vh;
}

section {
    padding: 50px;
    min-height: 100vh;
    display: none; /* Hide all sections by default */
}

section.active {
    display: block; /* Show the active section */
}

section h2{
    font-size: 2rem;
}

/* Home Section */

section.home.active{
    display: flex;
    justify-content: center;
    align-items:baseline;
}

section.home h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

section.home h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

section.home p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

section.home .home-content{
    max-width: 1300px;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 300px;
}

.btn-box a{
    text-decoration: none;
    color: var(--primary-font-color);
    background-color: var(--tertiary-font-color);
    padding: 10px 20px;
    border: 2px solid var(--tertiary-font-color);
    border-radius: 10px;
    font-size: 1.1rem;
    transition: 0.3s;
    
}

.btn-box a:hover{
    background-color: var(--secondary-font-color);
    color: var(--tertiary-font-color);
}
/* End-Home Section */

/* Curriculums Section */
section.curriculums{
    
    
}

section.curriculums .curriculums-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

section.curriculums .curriculums-content .content h3{
    font-size: 1.3rem;
}

section.curriculums .curriculums-content .content div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.curriculums-content .content{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    /* border: 1px solid var(--primary-font-color); */
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    max-width: 1500px;
}

.curriculums-content .content div span{
    color: var(--primary-font-color);
    background-color: var(--tertiary-font-color);
    margin-right: 5px;
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: normal;
    
    padding: 0px 5px;
}

/*End-Curriculums Section */

/* Tasks Secttion */

section.tasks.active{
    display: flex;
    flex-direction: column;
}

section .tasks-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
}

section .tasks-container .task{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    max-width: 1500px;
}

section .tasks-container .task h3{
    font-size: 1.3rem;
}

section .tasks-container .task div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section .tasks-container .task div a{
    color: var(--primary-font-color);
    background-color: var(--tertiary-font-color);
    text-decoration: none;
    margin-right: 5px;
    border-radius: 50px;
    margin-bottom: 5px;
    font-size: normal;
    padding: 0px 5px;
    transition: 0.3s;
}

section .tasks-container .task div a:hover{
    background-color: var(--secondary-font-color);
    color: var(--tertiary-font-color);
}
