@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #ededed;
    --secondary-color: #081b29;
    --tertiary-color: #00abf0;
    --quaternary-color: #0a1b27;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;


}


header {
    margin: 10px auto;
    width: 80%;
    
    padding: 10px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 50px;
    z-index: 100;
}

header, main{
    background-color: var(--secondary-color);
    box-shadow: #102c3f 0px 0px 5px;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    font-size: 25px;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.nav-links a {
    font-size: 18px;
    color: #ededed;
    margin-left: 35px;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.logo:hover,
.nav-links a:hover,
.nav-links a.active-page {
    color: #00abf0;
}

main {
    margin: 0px 10% 10px 10%;
    
    position: relative;
    overflow-x: hidden;
    border-radius: 20px;
    scrollbar-color: transparent transparent;
}

section {
    min-height: 90vh;
}

section h2 {
    font-size: 30px;
    
    margin: 20px 20px;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}