* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #088cff;
    --background-white-color: #f8f9fa;
    --border-color: #2e344e;
    --background-white-grey: #f1f1f1;
    --white-color: #fff;
    --dark-color: #0f0f0f;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191d2b;
}

body {
    background-color: var(--background-white-color);
    color: var(--font-dark-color);
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--background-white-grey);
    padding: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: var(--dark-color);
    font-size: 1.6rem;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1rem 0;
    display: grid;

    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.product-card {
    background-color: var(--background-white-grey);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    transition: all 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}

.product-img img {
    width: 360px;
    border-radius: 10px;
    margin-right: 5px;
}

.product-info {
    padding: 1rem;
}

.product-info h2 {
    color: var(--dark-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.product-info .description {
    color: var(--font-dark-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.product-info .price {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.product-info .rating {
    color: var(--font-dark-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}


.product-info .description ul {
    list-style: none;
}

.product-info .description ul li {
    margin-bottom: 0.5rem;
}

.product-info .description ul li img {
    width: 20px;
    margin-right: 5px;
}


.product-info button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-info button:hover {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .product-card {
        display: block;
    }

    .product-img img {
        width: 100%;
    }

}