*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: red;
}