*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 30vh;
    width: 24%;
    float: left;
    margin-right: 1%;
}

.div1{
    
    background-color: rgb(233, 9, 184);
}
.div2{
    
    background-color: rgb(214, 27, 27);
}
.div3{
    
    background-color: rgb(147, 250, 115);
}
.div4{
    
    background-color: rgb(248, 252, 2);
}
.div5{
    width: 60%;
    clear: both;
    background-color: rgb(2, 252, 248);
}